.picture-menu {
  display: inline-block;
}

.picture-menu-item {
  padding-top: 16px;
  padding-right: 16px;
  float: left;
  overflow: hidden;
  height: 400px;
}

.picture-menu-item-header h1, .picture-menu-item-header h2, .picture-menu-item-header h3, .picture-menu-item-header h4, .picture-menu-item-header h5, .picture-menu-item-header span {
  height: 2.4em;
  line-height: 1em;
  overflow: hidden;
  text-align: center;
  margin: 0;
}


/* Edit page widget CSS */

.picture-menu-widget-preview {
  /* Move the picture preview over to the right */
  float: right;
}

.container-inline div label {
  width: 8em;
  display: inline-block;
  text-align: right;
}